.video{
    /* background-color: red; */
    height: 100%;
    width: 100%;
    scroll-snap-align: start; /*componente com snap*/
    position: relative;
}
.video__player{
    height: 100%;
    width: 100%;
    object-fit: fill;/*Encher espaço do pai*/
}